*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{
    height: 100vh;
     background-color: white;
    /* background:linear-gradient(60deg , rgb(156, 15, 15) ,red); */
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}


div{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: solid 1px rgb(255, 0, 0);

    
}
input{
    margin-bottom: 10px;
    background-color: rgb(255, 0, 0);
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 20px;

}


a{
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);

}
h1{
    padding: 10px;
}
